---
import { Image } from 'astro:assets'

import RomaniaFlag from '../assets/romania.png'
import IrlandFlag from '../assets/ireland.png'
import CroatiaFlag from '../assets/croatia.png'
import PolandFlag from '../assets/poland.png'
import TurkeyFalg from '../assets/turkey.png'

import Logo from '../assets/logo.jpg'

import Layout from '../layouts/Layout.astro'

import Objectives from '@/components/Objectives.astro'

const flags = [RomaniaFlag, IrlandFlag, CroatiaFlag, PolandFlag, TurkeyFalg]
---

<style>
	.line {
		background-image: radial-gradient(circle, #00bbcc 28%, #ffffff);
	}
</style>

<Layout title="Welcome to Astro.">
	<main class="mx-[5%] mt-[125px] flex flex-col items-center justify-center sm:mx-[10%]">
		<section class="heighty grid grid-cols-1 items-center lg:grid-cols-2 xl:w-[80%]">
			<div class="flex animate-show-up flex-col items-start justify-center gap-8 opacity-0">
				<div class="flex flex-col items-start justify-center gap-3">
					<h1 class="font-mont text-4xl md:text-5xl lg:text-6xl">
						<span class="font-semibold text-textBlue">Before</span> It's <span
							class="whitespace-nowrap font-semibold text-textOrange">Too Late</span
						>
					</h1>
					<p class="ml-1 max-w-xs text-sm sm:ml-2 sm:max-w-xl sm:text-base xl:text-lg">
						This is our <span class="font-bold">only</span> planet, we have no other home. Our world
						has aged and its <span class="font-bold">burden</span> has become heavier. We don't have
						time to linger, we have to do <span class="font-bold">something</span>.
					</p>
				</div>
				<a
					href="#discover"
					class="ml-1 rounded bg-accentOrange px-4 py-2.5 text-lg font-semibold text-white ring-offset-background transition-all duration-300 hover:bg-orange-600 focus:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none sm:ml-2 sm:px-5 sm:py-3.5 sm:text-xl lg:text-2xl"
					>Discover</a
				>
			</div>
			<Image
				src={Logo}
				loading="eager"
				alt="Global Warming Ilustration"
				class="w-full max-w-[275px] animate-show-up self-start justify-self-center opacity-0 xs:max-w-xs sm:max-w-sm lg:self-auto lg:justify-self-end 2xl:max-w-md"
			/>
		</section>
		<!-- <div class="line h-[1.5px] w-full"></div> -->
		<section
			id="discover"
			class="flex flex-col items-center justify-center gap-10 sm:mt-8 md:gap-16"
		>
			<h3 class="self-start font-mont text-4xl font-extralight md:text-5xl lg:text-6xl">
				Partener Countries
			</h3>
			<div
				class="grid w-full grid-cols-1 items-center justify-items-center gap-14 xs:grid-cols-5 sm:gap-16 md:gap-14"
			>
				{
					flags.map((flag) => (
						<Image
							src={flag}
							alt="Flag"
							class="w-20 rounded-[50%] shadow-lg shadow-neutral-300 transition-all duration-300 hover:scale-110 md:w-24"
						/>
					))
				}
			</div>
			<div class="flex w-full flex-col items-start justify-start">
				<p class="text-lg">
					Welcome to our collaborative <span class="font-bold text-textBlue">Erasmus+</span>
					 project, a joint effort driven by partner schools in <span class="font-bold"
						>Romania</span
					>, <span class="font-bold">Turkey</span>, <span class="font-bold">Poland</span>, <span
						class="font-bold">Croatia</span
					>, and an <span class="font-bold">Irish NGO</span>. Our project centers on school-based
					education, focusing on "<span class="whitespace-nowrap font-bold text-textOrange"
						>Climate Change</span
					>" and social inclusion. <br /> At the core of our initiative lies a shared commitment: <span
						class="font-bold"
						>We delve into understanding the intricate causes and far-reaching impacts of climate
						change</span
					>. <br />
					 By raising <span class="font-bold text-textBlue">awareness</span> among participants, we
					foster a deep understanding of the urgent need for climate precautions. Our project
					acknowledges and explores the common social contexts in our diverse regions. Additionally,
					we emphasize the dissemination of vital climate change information far and wide. Together,
					we work towards a <span class="whitespace-nowrap font-bold text-textBlue"
						>sustainable future</span
					>, promoting knowledge, awareness, and inclusivity.
				</p>
			</div>
		</section>
		<!-- <div class="line h-[1.5px] w-full"></div> -->
		<section class="mt-20 flex w-full flex-col items-start justify-start gap-10 md:gap-16">
			<Objectives />
		</section>
	</main>
</Layout>
