---
import { Image } from 'astro:assets'

import Logo from '../assets/logo.jpg'
import Layout from '../layouts/Layout.astro'
import Objectives from '@/components/Objectives.astro'
---

<style>
	.line {
		background-image: radial-gradient(circle, #00bbcc 28%, #ffffff);
	}
</style>

<Layout title="Welcome to Astro.">
	<main class="mx-[5%] min-h-[200vh] sm:mx-[10%]">
		<section class="heighty mt-[125px] grid grid-cols-1 items-center lg:grid-cols-2">
			<div class="flex animate-show-up flex-col items-start justify-center gap-8 opacity-0">
				<div class="flex flex-col items-start justify-center gap-3">
					<h1 class="font-mont text-4xl sm:text-5xl xl:text-6xl">
						<span class="font-semibold text-textBlue">Before</span> It's <span
							class="whitespace-nowrap font-semibold text-textOrange">Too Late</span
						>
					</h1>
					<p class="ml-1 max-w-xs text-sm sm:ml-2 sm:max-w-xl sm:text-base xl:text-lg">
						This is our <span class="font-bold">only</span> planet, we have no other home. Our world
						has aged and its <span class="font-bold">burden</span> has become heavier. We don't have
						time to linger, we have to do <span class="font-bold">something</span>.
					</p>
				</div>
				<a
					href="#discover"
					class="ml-1 rounded bg-accentOrange px-4 py-2.5 text-lg font-semibold text-white ring-offset-background transition-all duration-300 hover:bg-orange-600 focus:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none sm:ml-2 sm:px-5 sm:py-3.5 sm:text-xl lg:text-2xl"
					>Discover</a
				>
			</div>
			<Image
				src={Logo}
				loading="eager"
				alt="Global Warming Ilustration"
				class="xs:max-w-xs w-full max-w-[275px] animate-show-up justify-self-center opacity-0 sm:max-w-sm lg:justify-self-end xl:max-w-md 2xl:max-w-lg"
			/>
		</section>
		<div class="line h-[1.5px] w-full"></div>
		<Objectives />
	</main>
</Layout>
