---
import Layout from '../layouts/Layout.astro'
import Sidebar from '../components/Sidebar'
import { Image } from 'astro:assets'
import Logo from '../assets/logo.jpg'
---

<Layout title="Welcome to Astro.">
	<main>
		<Sidebar client:load>
			<Image src={Logo} alt="Erasmus Logo" class="w-20" />
		</Sidebar>
		<section class="flex min-h-screen w-full items-center justify-center">
			<div>
				<h1 class="font-MontSerrat text-6xl font-thin uppercase">Hello World</h1>
				<p class="font-Mulish max-w-sm">
					Lorem ipsum, dolor sit <span class="font-bold text-textOrange">amet</span> consectetur
					adipisicing elit. Et animi ea quis at amet repellat quasi recusandae quaerat placeat,
					itaque veritatis quia earum praesentium <span class="font-bold text-textBlue"
						>aliquid</span
					> nulla veniam nobis. Voluptas, voluptatum!
				</p>
			</div>
		</section>
	</main>
</Layout>
