---
import Layout from '@/layouts/Layout.astro'

import HighPrez from '@/components/HighPrez'

import siglaLer from '../assets/sigla-ler.jpg'
import imgLer from '../assets/emailRacovita.jpg'
---

<Layout title="totul e doar un test">
	<main class="mx-[5%] min-h-screen sm:mx-[10%]">
		<HighPrez
			client:load
			schools={[
				{ city: 'Vaslui', name: '"Emil Racovita" HighSchool', logo: siglaLer, img: imgLer },
				{ city: 'Bucharest', name: '"Caca" HighSchool', logo: siglaLer, img: imgLer }
			]}
		/>
	</main>
</Layout>
