---
import CountryLand from '@/components/CountryLand.astro'
import HighPrez from '@/components/HighPrez'
import Layout from '@/layouts/Layout.astro'

import BasicMeeting from '@/components/BasicMeeting'

import nazLogo from '../assets/nazili_logo.png'
import nazImg from '../assets/nazili_img.jpg'
import bursaImg from '../assets/bursa_img.jpg'

import TurcaleteFlag from '../assets/turkey.png'
import VMTurcalet from '../assets/vmTurcia.jpg'
import VMTurcalet2 from '../assets/vmTurcia2.jpg'
const VMPhotos = [VMTurcalet, VMTurcalet2]
import { Image } from 'astro:assets'
import SliderforDays from '@/components/SliderforDays'

import day1 from '../assets/Poland_day_1.jpg'
import day1Extra from '../assets/Poland_day_1_extra.jpg'
import day2 from '../assets/Poland_day_2.jpg'
import day3 from '../assets/Poland_day_3.jpg'
import day4 from '../assets/Poland_day_4.jpg'
import day5 from '../assets/Poland_day_5.jpg'
---

<Layout title="BITL Blog | Türkiye">
	<CountryLand title="Türkiye" />
	<HighPrez
		country="Türkiye"
		schools={[
			{
				city: 'Nazilli',
				name: '"Nazilli Anadolu" HighSchool',
				logo: nazLogo,
				img: nazImg,
				link: 'https://nal.meb.k12.tr/',
				descp:
					'Empowering Self-Learners. Guiding Career-Driven Individuals. Achieving 100% Success in National University Entrance Exams. Cultivating Knowledgeable, Cultured, and Respectful Students. Encouraging Analytical, Creative, and Critical Thinkers. Fostering Compassionate, Respectful, and Project-Oriented Students. Developing Students Who Can Critically Read and Write. Instilling a Love for Science, Art, and Philosophy. Inspiring Innovation and Adaptability. Creating Leaders for Tomorrow. Making Our School a Beacon of Excellence in Our City and Nation.'
			},
			{
				city: 'Bursa',
				name: '"BTSO ALI OSMAN SONMEZ SOSYAL BILIMLER" HighSchool',
				logo: nazLogo,
				img: bursaImg,
				link: 'https://bsbl.meb.k12.tr/',
				descp:
					'Our mission is to create a modern educational institution aligned with national objectives. We nurture students who integrate past, present, and future knowledge, constantly improve, and address societal needs. Our aim is to shape proactive, innovative, and socially conscious individuals. We strive to be a preferred choice, bridging local and universal perspectives.'
			}
		]}
		client:load
	/>
	<BasicMeeting flag={TurcaleteFlag} title="Virtual Meeting" activityPhotos={VMPhotos} client:load>
		The second virtual mobility of the Erasmus+ KA220 project "BEFORE IT IS TOO LATE" took place on
		<span class="text-textOrange">October 10th</span>, <span class="text-textOrange">2023</span>, on
		the Google Meet platform, hosted by <span class="text-textOrange"
			>BTSO Ali Osman Sönmez Sosyal Bilimler Lisesi</span
		> from <span class="text-lg font-semibold text-textBlue lg:text-xl">Bursa</span>, <span
			class="text-lg font-semibold text-textBlue lg:text-xl">Türkiye</span
		>. All partner schools attended the mobility and discussed the question <span
			class="text-textBlue">“Are Nuclear Power Stations needed to prevent climate change?”</span
		>. Students worked in teams to create presentations and discuss the topic using the “The 6
		Thinking Hats Technique”. Each team approached the topic from a different perspective, according
		to the color of hat they represented. All teams made excellent presentations, approaching the
		topic from a variety of angles. They also asked and answered each other's questions. At the end
		of the discussion, the participating students voted for the popularity award, and the jury
		members from each school awarded the 1st, 2nd, and 3rd prizes. BTSO Ali Osman Sönmez Sosyal
		Bilimler Lisesi received the popularity award and the 3rd prize, Liceul Teoretic "Emil Racovita"
		received the 2nd prize, and Liceum Ogolnoksztalcace im. Adama Mickiewicza w Tarnowie was awarded
		the 1st prize.
	</BasicMeeting>
</Layout>
