---
import { Image } from 'astro:assets'

import euLogo from '../assets/Erasmusfunded.png'
import fcLogo from '../assets/fc-ico.svg'
import instaLogo from '../assets/insta-ico.svg'
---

<footer
	class="foot-shadow flex flex-col-reverse items-center justify-center px-5 py-4 sm:flex-row sm:justify-between"
>
	<Image src={euLogo} alt="Co-funded by Erasmus+" class="w-72" />
	<div class="flex items-center justify-center gap-5">
		<a
			class="w-8 rounded-sm opacity-70 ring-offset-background transition-opacity hover:opacity-100 focus:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2"
			href="https://www.facebook.com/groups/1362000527654372"
			target="_blank"
		>
			<Image src={fcLogo} alt="Facebook BITL" class="w-full" /></a
		>
		<a
			class="w-8 rounded-sm opacity-70 ring-offset-background transition-opacity hover:opacity-100 focus:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2"
			href="https://www.instagram.com/erasmus_beforeitistoolate/"
			target="_blank"
		>
			<Image src={instaLogo} alt="Instagram BITL" class="w-full" /></a
		>
	</div>
</footer>
