---
const { title } = Astro.props
---

<div
	class="flex flex-col items-center justify-center gap-5 rounded border p-6 transition-all duration-300 hover:scale-105 hover:border-accentBlue min-[425px]:flex-row"
>
	<slot />
	<span class="max-w-lg text-center text-lg min-[425px]:text-left lg:text-xl">{title}</span>
</div>
