---
import '@/styles/globals.css'

import '@fontsource-variable/mulish'
import '@fontsource-variable/montserrat'

import { ViewTransitions } from 'astro:transitions'

import Sidebar from '../components/Sidebar'
import { Image } from 'astro:assets'
import Logo from '../assets/logo.jpg'

interface Props {
	title: string
}
const { title } = Astro.props
---

<style is:global>
	.nav-shadow {
		box-shadow: 0px 0.75px 15px #eeeeee;
	}
</style>

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body class="bg-white font-mulish">
		<Sidebar client:load>
			<a href="/" class="w-20">
				<Image src={Logo} loading="eager" alt="Erasmus Logo" class="w-full" /></a
			>
		</Sidebar>
		<slot />
	</body>
</html>
